@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
/* stylelint-disable-next-line import-notation */
@import "tailwindcss";

/* #root {
} */

.my-select {
  border: 1px rgb(209 208 208) solid;
  border-radius: 3px;
  padding: 2px;
  text-align: center;
  margin-left: 2px;
  align-self: flex-end;
}

.selector-row {
  font-size: 0.8rem;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  width: 90%;
}

.font-montserrat{
  font-family: Montserrat, sans-serif;
}